fastapi==0.128.7
uvicorn[standard]==0.23.2
SQLAlchemy==2.0.45
psycopg[binary]==3.3.2
httpx==1.2.3
python-telegram-bot==23.14.0
python-dotenv==1.2.1
pydantic==2.12.5
pydantic-settings==2.1.0
python-multipart==0.0.6
